<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/home/style.css">
    <script src="https://kit.fontawesome.com/43dcc20e7a.js" crossorigin="anonymous"></script>
    <script>
       async function getStatus()
        {
            check= "<%=vstatus%>"
            if(check=="error")
            {
                document.getElementById('error').style.display="block"
            }
            else
            {
                data="<%=data%>"
                data=data.split(",")
                pn="<%=pn%>"
                document.getElementById("heading").innerHTML="Playlist Loading......"
                await appendPublic(data,pn)
                document.getElementById("heading").innerHTML="Playlist "+pn

            }
        }
    async function appendPublic(result1,heading)
    {
        //document.getElementById("heading").innerHTML="Playlist "+heading
        vresult=[]
        for(var g=0;g<result1.length;g++)
        {
            //alert("here2")
        await getimdbData(result1[g]).then(data=>{
            if(data=="error")
            {
                //alert("alert occured 233")
            }
            else
            {
                vresult.push(data)
            }
        })
        }
        document.getElementById("parent-holder1").innerHTML=""
        var dn=vresult.length
        var dt=dn
        var g=0
        if(dn/3>3)
        dn=Math.floor(dn/3)+1
        else
        dn=Math.floor(dn/3)
        var dp=0
        while(g<=dn)
        { 
            //alert("here3")
            var nrowdiv=document.createElement("div")
            nrowdiv.setAttribute("style","padding:2%")
            nrowdiv.setAttribute("class","row")
            document.getElementById("parent-holder1").appendChild(nrowdiv)
            var ncoldiv1=document.createElement("div")
            ncoldiv1.setAttribute("class","col-sm-4")
            ncoldiv1.setAttribute("id","nrow"+g+"col"+1)
            var ncoldiv2=document.createElement("div")
            ncoldiv2.setAttribute("class","col-sm-4")
            ncoldiv2.setAttribute("id","nrow"+g+"col"+2)
            var ncoldiv3=document.createElement("div")
            ncoldiv3.setAttribute("class","col-sm-4")
            ncoldiv3.setAttribute("id","nrow"+g+"col"+3)
            nrowdiv.appendChild(ncoldiv1)
            nrowdiv.appendChild(ncoldiv2)
            nrowdiv.appendChild(ncoldiv3)
            var dc=1
            while(dc<4&&dp<dt){
        var ncardclass=document.createElement("div")
            ncardclass.setAttribute("class","card cardclass")
            var ncardheader=document.createElement("div")
            ncardclass.appendChild(ncardheader)
            ncardheader.innerHTML=vresult[dp].Title+'('+vresult[dp].Year+')'
            ncardheader.setAttribute("class","card-header")
            document.getElementById("nrow"+g+"col"+dc).appendChild(ncardclass)
            var nimg=document.createElement("img")
            nimg.setAttribute("class","card-img-top")
            if(vresult[dp].Poster!='N/A')
            nimg.setAttribute("src",vresult[dp].Poster)
            else
            nimg.setAttribute("src","https://vishwaentertainers.com/wp-content/uploads/2020/04/No-Preview-Available.jpg")
            ncardclass.appendChild(nimg)
            cardbody=document.createElement("div")
            cardbody.setAttribute("class","card-body")
            ncardclass.appendChild(cardbody)
            released=document.createElement("p")
            released.innerHTML="<i class='fa fa-calendar'>:&nbsp&nbsp"+vresult[dp].Released+"&nbsp&nbsp<i class='fa fa-hourglass'>:&nbsp&nbsp"+vresult[dp].Runtime
            cardbody.appendChild(released)
            language=document.createElement("p")
            language.innerHTML="<i class='fa fa-language'>:&nbsp&nbsp"+vresult[dp].Language
            cardbody.appendChild(language)
            actor=document.createElement("p")
            actor.innerHTML="<p><b>Actors:&nbsp&nbsp</b>"+vresult[dp].Actors+"</p>"
            cardbody.appendChild(actor)
            plot=document.createElement("p")
            plot.innerHTML="<p style='height:40px;overflow:hidden' id=plot"+dp+">"+"<b>Plot:&nbsp&nbsp</b>"+vresult[dp].Plot+"</p>"
            cardbody.appendChild(plot)
            button=document.createElement("button")
            button.setAttribute("class","btn btn-primary")
            button.innerHTML="Read more"
            cardbody.appendChild(button)
            button.setAttribute("id","button"+dp)
            button.setAttribute("onclick","toggleRead('"+dp+"')")
            dc++
            dp++
            }
            g++
        
        }
        return
    }



function toggleRead(id)
{
    h=document.getElementById("plot"+id).offsetHeight;
    console.log(id,h)
    if(h!='40'){
        document.getElementById("button"+id).innerHTML="Read more"
        document.getElementById("plot"+id).style.height="40px"
    }
    else
    {
        document.getElementById("button"+id).innerHTML="Read Less"
        document.getElementById("plot"+id).style.height="auto"
    }
    
}


function getimdbData(id)
{
  return new Promise((s,r)=>{
    $.ajax(
      {
        url:'https://www.omdbapi.com/?i='+id+'&apikey=16146057&page=1&plot=full',
        method:'POST',
        dataType:'jsonp',
        success:async res=>{
            if(res.Response=="False"){
            alert("data not availaible")
              s("error")
          }
            else
            {
              console.log(res)
                s(res)
            }
        },
        error:res=>{
          alert("unable to get data on the movie third party error")
          s("error")
        }
      }
    )
  })
  
}
    </script>
</head>
<body onload="getStatus()">
    <h2 id="error" style="display: none;color:red">*Invalid link</h2>
    <center>
        <h2 id="heading"></h2>
    </center>
    <div id="parent-content-holder-home">
            <div class="cotainer-fluid mt-2 m-1" style="padding: 0%;margin: 0%;z-index: -1;background-color: rgb(255, 255, 255);" id="parent-holder1">
                
            </div>
    </div>
    

</body>
</html>