<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/home/style.css">
    <script src="https://kit.fontawesome.com/43dcc20e7a.js" crossorigin="anonymous"></script>
    <script>
        function getInfo()
        {
            return "<%=uid%>"
        }
        function getID()
        {
            return "<%=uuid%>"
        }
    </script>
</head>
<body style="padding:0%;margin: 0%;height: 100%;overflow-x: hidden;" id="body">

    <!--Modal element-->
    <div class="modal fade" id="myModal" role="dialog" style="align-items: center;justify-content: center;" >
        <div class="modal-dialog modal-dialog-centered" style="align-items: center;justify-content: center;" >
        
          <!-- Modal content-->
          <div class="modal-content" style="align-items: center;justify-content: center;" >
            <div class="modal-body" style="align-items: center;justify-content: center;" >
                <div class="listContainer" id="listoption">
                    <label for="playlists">Choose a plalist:</label>
                    <select name="playlists" id="playlists">
                    </select>
                    <br>
                    OR
                </div>
                
                <div>
                    <input type="text" placeholder="enter new playlist name" id="set-playlist">
                    <select name="type" id="type">
                        <option value="private">private</option>
                        <option value="public">public</option>
                    </select>
                    <button style="border-radius: 10% 10%;background-color: aqua;" onclick="addList()">add</button>

                </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="" alt="Card image cap" id="movie-poster">
                    <div class="card-body">
                      <h5 class="card-title" id="movie-title">Card title</h5>
                      <p id="imdbID" style="display: none;" ></p>
                      <i class="fa fa-calendar"></i>:<p id="release" style="display: inline;"></p>2&nbsp&nbsp<i class="fa fa-hourglass"></i>:<p style="display: inline;" id="running"></p>
                      <br><i class="fa fa-language fa-lg"></i>:&nbsp<p id="language" style="display: inline;">aaaa</p>
                      <p id="genre">N/A</p>
                      <p id="director">N/A</p>
                      <p id="actors">N/A</p>
                      <p class="card-text" id="plot">Not availiable</p>
                      <button class="btn btn-primary" onclick="addToPlayList()">Add</button>
                    </div>
                  </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          
        </div>
      </div>
    <!--Top division of bar-->
    <div class="top-bar">
        <h2 style="margin:0%;padding:0%;float: left;">Movie List</h2>
        <button class="btn"style="margin: 0%;float: right; border: 2px solid white; color:white;" onclick="logOut()">Logout</button>
        <br>
        <br>
        <div class="row mt-3">
            <div class="col-4">
                <div style="padding: 1vw;background-color: rgb(82, 182, 182);width: max-content;border-radius: 8px 8px; box-shadow: 0 6px 12px 0 rgba(255, 255, 255, 0.3), 0 9px 22px 0 rgba(255, 255, 255, 0.39);cursor: pointer;" onclick="startCreate()" >
                    <i class="fa fa-plus fa-lg" style="cursor: pointer;" onclick="startCreate()"></i>
                </div>
            </div>
            <div class="col-4">
                <center>
                    <div style="padding: 1vw;background-color: rgb(82, 182, 182);width: max-content;border-radius: 8px 8px;" onclick="startHome()" style="cursor: pointer;" id="home">
                        <i class="fa fa-home fa-lg" onclick="startHome()" style="cursor: pointer;"></i>
                    </div>
                </center>
            </div>
            <div class="col-4">
                <div style="padding: 1vw;background-color: rgb(82, 182, 182);width: max-content;border-radius: 8px 8px;float: right;" style="cursor: pointer;" onclick="startPrivate()">
                    <i class="fa fa-list fa-lg" style="cursor: pointer;" onclick="startPrivate()"></i>
                </div>
            </div>
        </div>
    </div>


    <!--Content-->

<div id="parent-content-holder-create">

    <div class="cotainer-fluid mt-2 m-1" style="padding: 0%;margin: 0%;z-index: -1;background-color: rgb(255, 255, 255);position: sticky;overflow: hidden;z-index: 1;">
    <div class="row" style="padding: 0%;margin:0%;overflow: hidden;" >
        <div class="col-sm-2"></div>
        <div class="col-sm-8" style="padding: 0%;margin: 0%;">
                <div class="search-box" id="search-bar">
                   <input type="text" class="search-input" placeholder="Search.." id="search">
             
                   <button class="search-button" onclick="search()">
                     <i class="fas fa-search"></i>
                   </button>
                </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>


    <div class="cotainer-fluid mt-2 m-1" style="padding: 0%;margin: 0%;z-index: -1;background-color: rgb(255, 255, 255);" id="parent-holder">

    </div>
</div>



<div id="parent-content-holder-home" style="display: none;">
    <div class="cotainer-fluid mt-2 m-1" style="padding: 0%;margin: 0%;z-index: -1;background-color: rgb(255, 255, 255);position: sticky;overflow: hidden;z-index: 1;">
        <div class="row" style="padding: 0%;margin:0%;overflow: hidden;" >
            <div class="col-sm-2"></div>
            <div class="col-sm-8" style="padding: 0%;margin: 0%;" style="justify-content: center;align-items: center;" >
                <center>    
                    <select id="list-no" style="padding: 9px;border-radius: 10px 10px;width: 30%;">
                        <option value="-1">select a playlist</option>
                    </select>
                    <button class="btn btn-success" onclick="getListData()" id="fetch-button">fetch</button>
                    <button class="btn btn-danger" id="copy-link" onclick="copy()">Copy link</button>
                </center>
                </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    
    
        <div class="cotainer-fluid mt-2 m-1" style="padding: 0%;margin: 0%;z-index: -1;background-color: rgb(255, 255, 255);" id="parent-holder1">
    
        </div>
</div>



</body>
<script src="/wall/operations.js"></script>
</html>